:root {
  --blue: #0b18ff;
  --blue-light: #d6d7ff;
  --red: #ff0b0b;
  --yellow: #fffe00;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.app-bar {
  background: var(--blue);
  color: white;
}
.app-bar h1 {
  margin: 0;
}

.section-hero {
  /* background-image: url("/img/jagged-blue-rect.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; */
  background: url('/img/jagged-blue-rect.svg') no-repeat 50% -10rem;
  background-size: cover;
  color: var(--blue);
}

/* .section-hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.section-hero__image {
  display: block;
  max-width: 20rem;
  margin: auto;
}

.section-hero__text {
  background: white;
  margin: 1rem auto;
  text-align: center;
}

.section-hero__text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}
.section-hero__text p {
  font-size: 1.5rem;
  margin: 0;
}
